
@page "/"

<h1>你好</h1>

这个程序是自用的AI工具合集，学习用途。<br>
目前功能包括：<br>
- 聊天工具：自动聊天机器人，选取记忆，自动调用本地插件等<br>
- 补充：聊天工具增加记忆存储功能，但是记忆存储功能不完善，可以永久存储到本地目录，但是无法判断是否已经存储过，也无法删除已存储的记忆。<br>
- 插件工具：测试各类插件和功能使用情况；<br>
- 计划任务工具（SK官方文档已弃置，已屏蔽页面）<br>
